<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Flatiron School - Students</title>
  <link href="style.css" type="text/css" rel="stylesheet">
  <link href="matz.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="js/libs/jquery-1.4.3.min.js"></script>
  <script type="text/javascript" src="js/libs/modernizr-1.7.min.js"></script>
</head>

<body>
<div id="page">
  <header id="header">
    <div class="center">
      <nav id="main-menu">
        <ul>
          <li class="site-title"><a href="index.html">Students @ Flatiron School</a></li>
        </ul>
        <ul>
          <li><a href="http://flatironschool.com">More about Our School</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </header>

  <section id="about" class="about-us content">
    <div class="center">
      <h1 id="intro" style="padding-top: 20px">
        Every story has heroes. We're 20 people on a journey to learn to love code.
      </h1>
      <!-- <h2 class="title"><span>The Heroes</span></h2> -->
      <div class="columns">

        <div class="one_third">
          <a href="davidbaker.html"><img class="person" src="images/thumbnail_davidbaker.jpg" alt="David Baker"/>
            <div class="name-position">
              <h2>David Baker</h2>
              <div class="position">Music ♥ Tech.  Bikram Yogi.</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">An interaction designer and rails developer who has worked in tech and music for 12 years.  Notable clients include Britney Spears, Diddy, and 50 Cent.</p>
        </div>

        <div class="one_third">
          <a href="corinnabrock.html"><img class="person" src="images/corinna-thumbnail.jpg" alt="Image"/>
            <div class="name-position">
              <h2>Corinna Brock</h2>
              <div class="position">Back end and front end in one.</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">With a passion for both coding and design, I focus on making functional and beautiful websites.</p>
        </div>

        <div class="one_third last">
          <a href="stephenchen.html"><img class="person" src="images/schen_profile2.jpg" alt="Image"/>
            <div class="name-position">
              <h2>Stephen Chen</h2>
              <div class="position">Fizzin' and Buzzin'</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Software engineer from Los Angeles, learning new tech and a new city.</p>
        </div>
        <div class="clear"></div>
        <!-- END one row -->

        <div class="one_third">
          <a href="kevincurtin.html"><img class="person" src="images/kevinc_square.jpg" alt="Image"/>
            <div class="name-position">
              <h2>Kevin Curtin</h2>
              <div class="position">Always Be Learning</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Born in Syracuse, lived in San Francisco, living in Brooklyn. I spend my time programming, taking photos, playing sports, and drinking coffee. I like learning and building.</p>
        </div>

        <div class="one_third">
          <a href="josephdevenuta.html"><img class="person" src="images/joseph_devenuta_2_thumb.jpg" alt="Image"/>
            <div class="name-position">
              <h2>Joseph DeVenuta</h2>
              <div class="position">Ready to make, do, build...</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Grew around animals, gardens and carpentry, then my hands got soft in real estate and private equity. Ready to put software to work on meaninful real-world challenges. Code in service of people.</p>
        </div>

        <div class="one_third last">
          <a href="./rexfeng.html"><img class="person" src="images/rexfeng-head.png" alt="Rex Feng"/>
            <div class="name-position">
              <h2>Rex Feng</h2>
              <div class="position">Can't live without the internet.</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">NorCal native in NYC. Loves developing intuitive UX. Enjoys exploring NYC by foot and trying new cuisines.</p>
        </div>

        <div class="clear"></div>

        <div class="one_third">
          <a href="adamjonas.html"><img class="person" src="images/thumbnail_adamjonas.jpeg" alt="Image"/>
            <div class="name-position">
              <h2>Adam Jonas</h2>
              <div class="position">Code Consumer => Code Producer</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">WIP: Learning to love and connect to code. Because that's what we do.</p>
        </div>

        <div class="one_third">
          <a href="akivaleeder.html"><img class="person" src="images/thumbnail_akivaleeder.jpeg" alt="Image"/>
            <div class="name-position"></div>
              <h2>Akiva Leeder</h2>
              <div class="position">Lawyer turned coder.</div>
            <div class="clear"></div>
            </a>
          <p class="excerpt">Learning to code is my full time job.</p>
        </div>

        <div class="one_third last">
          <a href="billymizrahi.html"><img class="person" src="images/thumbnail_person.jpg" alt="Image"/>
            <div class="name-position">
              <h2>Billy Mizrahi</h2>
              <div class="position">Think different.</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Brooklyn native, working to be the best I can be.</p>
        </div>

        <div class="clear"></div>
        <!-- END ROW -->

        <div class="one_third">
          <a href="kevinmcnamee.html"><img class="person" src="images/kevin_mcnamee.png" alt="Image"/>
            <div class="name-position">
              <h2>Kevin McNamee</h2>
              <div class="position">Eat, Sleep, Code. Repeat</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">NYC born and Midwest raised, I am ready to dive head first into NYC technology and learn all that I can about developing through many languages. First stop, Ruby!</p>
        </div>

        <div class="one_third">
          <a href="jacknolan.html"><img class="person" src="images/thumbnail_jacknolan.jpeg" alt="Image"/>
            <div class="name-position">
              <h2>Jack Nolan</h2>
              <div class="position">Creating cool awesome apps!</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Head down, hands-on learning to create applications the right way!</p>
        </div>

        <div class="one_third last">
          <a href="li.ouyang.html"><img class="person" src="images/li_ouyang.jpg" alt="Image"/>
            <div class="name-position">
              <h2>Li Ouyang</h2>
              <div class="position"> trader => yoga-er => coder </div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Putting the fun back in functional.</p>
        </div>

        <div class="clear"></div>

        <!-- END ROW -->
        <div class="one_third">
          <a href="joshrowley.html"><img class="person" src="images/joshrowley.jpg" alt="Image" width="120px"/>
            <div class="name-position">
              <h2><a href="joshrowley.html">Josh Rowley</a></h2>
              <div class="position">Did you try restarting?</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Former "IT guy," ready to create his own software!</p>
        </div>

        <div class="one_third">
          <a href="mattsalerno.html"><img class="person" src="images/MattSalernoThumbnail.png" alt="Image"/>
            <div class="name-position">
              <h2>Matt Salerno</h2>
              <div class="position">Fellow Traveler</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Artist. Musician. Scrum Master. Programmer-to-be.</p>
        </div>

        <div class="one_third last">
          <a href="aaronstreiter.html"><img class="person" src="images/aaronstreiter.jpg" alt="Image" width="60px"/>
            <div class="name-position">
              <h2>Aaron Streiter</h2>
              <div class="position">Creative MBA Developer</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Internet Marketer, former Account Man, takes plunge into Web Development</p>
        </div>

        <div class="clear"></div>

        <div class="one_third">
          <a href="nikhilthomas.html"><img class="person" src="images/nikhilthomas.jpg" alt="Nikhil Thomas" />
            <div class="name-position">
              <h2>Nikhil Thomas</h2>
              <div class="position">Aspiring coder, tech enthusiast</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Nikhil is a recent college graduate with business experience at startups like MyYearbook and Tribe Studios</p>
        </div>

        <div class="one_third">
          <a href="jamesvanneman.html"><img class="person" src="images/jamesvanneman.png" alt="Image"/>
            <div class="name-position">
              <h2>James Vanneman</h2>
              <div class="position">Rockstar In Training</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Profesional poker player to programmer</p>
        </div>

        <div class="one_third last">
          <a href="erickaward.html"><img class="person" src="images/thumbnail_erickaward.jpeg" alt="Image"/>
            <div class="name-position">
              <h2>Ericka Ward</h2>
              <div class="position">Coding with a smile.</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">Educator and community organizer learning to code.</p>
        </div>

        <div class="clear"></div>

        <div class="one_third">
          <a href="BradWheel.html"><img class="person" src="images/salvador100.png" alt="Brad Wheel"/>
            <div class="name-position">
              <h2>Brad Wheel</h2>
              <div class="position">Whatever happened to pagers?</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">I'm here to become a coding ninja...no, seriously, I am. Think Leonardo from the Ninja Turtles...minus the sword.</p>
        </div>

        <div class="one_third">
          <a href="jenyazueva_1.html"><img class="person" src="images/jenya-thumbnail.png" alt="Image"/>
            <div class="name-position">
              <h2>Jenya Zueva</h2>
              <div class="position">Tag Line 34 characters or less.</div>
            </div>
            <div class="clear"></div>
          </a>
          <p class="excerpt">140 characters Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis risus vestibulum tortor ultricies sit amet venenatis arcu cras amet.</p>
        </div>

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- /END .center-->
  </section>
  <!-- /END #about-us -->


   <section id="copyright" class="footer content">
    <div class="center">
      <p>&copy; 2012. All Your Rights Are Belong To Us.</p>
      <div class="clear"></div>
    </div>
  </section>
</div>
<script src="js/custom.js" type="text/javascript"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33578770-1']);
  _gaq.push(['_setDomainName', 'flatironschool.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--/border-->
<div id="left-border"></div>
<div id="right-border"></div>
<div id="top-border"></div>
<div id="bottom-border"></div>
</body>
</html>
