<html>
	<head>
		<meta charset="utf-8" />
		<title>Student Profile</title>
	</head>
	<body>
		<h1>Name: <%= @student.name %></h1>
		<h2>Id: <%= @student.id %></h2>
		<p>Email: <%= @student.email %></p>
	</body>
</html>