<html>
  <head>
    <meta charset="utf-8" />
    <title>Student Body app</title>
<!--     <link href="style.css" rel="stylesheet" /> -->
  </head>
<body>
<h1><%= @student.name %></h1>
 <h2><%= @student.id %></h2>
<h3><%= @student.email %></h3>
</body>

</html>
